<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:background="#FFFFFF"
    android:orientation="vertical">
    <RelativeLayout
        android:id="@+id/login_Header"
        android:layout_width="match_parent"
        android:layout_height="@dimen/seventy_dp"
        android:background="#F3F3F3"
        android:padding="@dimen/ten_dp">
        <TextView
            android:id="@+id/firstTimeWizard"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_alignParentLeft="true"
            android:layout_centerVertical="true"
            android:text="First time wizard"
            android:textColor="@color/wizard_text_color"
            android:textSize="22sp"
            android:layout_marginLeft="@dimen/twenty_dp" />
        <TextView
            android:id="@+id/wizard_numbr"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_alignParentRight="true"
            android:background="@drawable/wizard_number_selector"
            android:paddingBottom="@dimen/five_dp"
            android:paddingLeft="@dimen/twenty_five_dp"
            android:paddingRight="@dimen/twenty_five_dp"
            android:paddingTop="@dimen/five_dp"
            android:text="1 of 15"
            android:textColor="#526997"
            android:textSize="22sp"
            android:layout_centerVertical="true" />
    </RelativeLayout>
    <RelativeLayout
        android:id="@+id/welcomeMessageContainer"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_marginLeft="20dp"
        android:layout_marginRight="20dp"
        android:layout_marginTop="40dp"
        android:layout_below="@+id/login_Header"
        android:background="@drawable/first_wizard_selector"
        android:padding="10dp">
        <TextView
            android:id="@+id/user_name"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_centerHorizontal="true"
            android:layout_marginTop="10dp"
            android:text="Hello Jim!"
            android:textColor="#404040"
            android:textSize="20sp" />
        <TextView
            android:id="@+id/welcome_text"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_below="@+id/user_name"
            android:layout_centerHorizontal="true"
            android:layout_marginTop="5dp"
            android:text="Welcome to EpicTax"
            android:textColor="#404040"
            android:textSize="20sp" />
        <TextView
            android:id="@+id/taxreturn_text"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_below="@+id/welcome_text"
            android:layout_centerHorizontal="true"
            android:layout_marginTop="20dp"
            android:layout_marginBottom="10dp"
            android:text="Let's get your tax return well done!"
            android:textColor="#404040"
            android:textSize="20sp" />
        <ImageView
            android:id="@+id/epictaxE_img"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_alignParentLeft="true"
            android:layout_alignParentTop="true"
            android:contentDescription="@string/app_name"
            android:src="@drawable/e" />
    </RelativeLayout>
    <RelativeLayout
        android:id="@+id/startContainer"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_below="@+id/welcomeMessageContainer"
        android:layout_marginLeft="20dp"
        android:layout_marginRight="20dp"
        android:layout_marginTop="40dp"
        android:background="@drawable/first_wizard_selector"
        android:padding="10dp">
        <TextView
            android:id="@+id/letStart_txt"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_centerHorizontal="true"
            android:layout_marginTop="10dp"
            android:text="Let's get started!"
            android:textColor="#404040"
            android:textSize="20sp" />
        <TextView
            android:id="@+id/langPrefer_text"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_below="@+id/letStart_txt"
            android:layout_centerHorizontal="true"
            android:layout_marginTop="5dp"
            android:text="What language do you prefer?"
            android:textColor="#404040"
            android:textSize="20sp" />
        <ImageView
            android:id="@+id/epictaxEUp_img"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_alignParentLeft="true"
            android:layout_alignParentTop="true"
            android:contentDescription="@string/app_name"
            android:src="@drawable/e" />
        <LinearLayout
            android:id="@+id/langSelectionContainer"
            android:layout_width="match_parent"
            android:layout_height="30dp"
            android:layout_below="@+id/langPrefer_text"
            android:background="@drawable/lang_new_pref_selector"
            android:orientation="horizontal"
            android:layout_marginTop="40dp"
            android:layout_marginLeft="5dp"
            android:layout_marginRight="5dp"
            android:layout_marginBottom="10dp"
            android:weightSum="4">
            <Button
                android:id="@+id/english_btn"
                android:layout_width="0dp"
                android:layout_height="wrap_content"
                android:layout_weight="1"
                android:background="@null"
                android:padding="5dp"
                android:text="English"
                android:textColor="#526997"
                android:textSize="14sp" />
            <View
                android:id="@+id/line1"
                android:layout_width="0.9dp"
                android:layout_height="match_parent"
                android:background="#526997" />
            <Button
                android:id="@+id/afrikaans_btn"
                android:layout_width="0dp"
                android:layout_height="wrap_content"
                android:layout_weight="1"
                android:background="@null"
                android:padding="5dp"
                android:text="Afrikaans"
                android:textColor="#526997"
                android:textSize="14sp" />
            <View
                android:id="@+id/line2"
                android:layout_width="0.9dp"
                android:layout_height="match_parent"
                android:background="#526997" />
            <Button
                android:id="@+id/ishixhosa_btn"
                android:layout_width="0dp"
                android:layout_height="wrap_content"
                android:layout_weight="1"
                android:background="@null"
                android:padding="5dp"
                android:text="ishiXhosa"
                android:textColor="#526997"
                android:textSize="14sp" />
            <View
                android:id="@+id/line3"
                android:layout_width="0.9dp"
                android:layout_height="match_parent"
                android:background="#526997" />
            <Button
                android:id="@+id/isizulu_btn"
                android:layout_width="0dp"
                android:layout_height="wrap_content"
                android:layout_weight="1"
                android:background="@null"
                android:padding="5dp"
                android:text="isiZulu"
                android:textColor="#526997"
                android:textSize="14sp" />
        </LinearLayout>
    </RelativeLayout>
    <RelativeLayout
        android:id="@+id/langMsgContainer"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_below="@+id/welcomeMessageContainer"
        android:layout_marginLeft="20dp"
        android:layout_marginRight="20dp"
        android:layout_marginTop="20dp"
        android:background="@drawable/preffered_lang_message"
        android:padding="10dp"
        android:visibility="gone">
        <TextView
            android:id="@+id/langPref_txt"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_centerInParent="true"
            android:layout_marginTop="10dp"
            android:text="@string/prefferedlangmsg_text"
            android:textColor="@color/white_color"
            android:padding="30dp"
            android:gravity="center" />
        <ImageView
            android:id="@+id/msgClose_img"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_alignParentLeft="true"
            android:layout_alignParentTop="true"
            android:contentDescription="@string/app_name"
            android:src="@drawable/x" />
    </RelativeLayout>
</RelativeLayout>