<?xml version="1.0" encoding="utf-8"?>
<ScrollView xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:background="@color/white_color"
    android:scrollbars="none">
    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:background="@color/white_color"
        android:orientation="vertical"
        android:padding="@dimen/twenty_dp"
        android:layout_gravity="center">
        <TextView
            android:id="@+id/header_Text"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_gravity="center_horizontal"
            android:gravity="center"
            android:text="@string/loginheader_text"
            android:textColor="@color/theme_grey"
            android:textSize="22sp" />
        <LinearLayout
            android:id="@+id/loginView"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_marginTop="@dimen/thirty_dp"
            android:background="@drawable/regtextbox"
            android:orientation="vertical"
            android:weightSum="2">
            <EditText
                android:id="@+id/username_et"
                android:layout_width="match_parent"
                android:layout_height="@dimen/zero_dp"
                android:layout_weight="1"
                android:background="@android:color/transparent"
                android:drawableRight="@drawable/email_small"
                android:hint="@string/mailaddrs_text"
                android:inputType="textPersonName"
                android:padding="@dimen/twelve_dp"
                android:singleLine="true"
                android:textColor="@color/regGrey_color"
                android:textSize="20sp" />
            <View
                android:id="@+id/Loginmiddleline"
                android:layout_width="match_parent"
                android:layout_height="0.9dp"
                android:background="@color/loginView_BorderColor" />
            <EditText
                android:id="@+id/password_et"
                android:layout_width="match_parent"
                android:layout_height="@dimen/zero_dp"
                android:layout_weight="1"
                android:background="@android:color/transparent"
                android:drawableRight="@drawable/password_small"
                android:hint="@string/password_text"
                android:inputType="textPassword"
                android:padding="@dimen/twelve_dp"
                android:singleLine="true"
                android:textColor="@color/regGrey_color"
                android:textSize="20sp" />
        </LinearLayout>
        <RelativeLayout
            android:id="@+id/rememberMe_Container"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_marginTop="@dimen/twenty_dp">
            <CheckBox
                android:id="@+id/rememberMe_chk"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_alignParentLeft="true"
                android:layout_centerVertical="true"
                android:button="@drawable/checkbox_selector" />
            <TextView
                android:id="@+id/rememberMe_txt"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_centerVertical="true"
                android:layout_marginLeft="@dimen/twenty_dp"
                android:layout_toRightOf="@+id/rememberMe_chk"
                android:text="@string/rememberme_text"
                android:textColor="@color/theme_grey"
                android:textSize="22sp" />
        </RelativeLayout>
        <Button
            android:id="@+id/signIn_btn"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_marginTop="@dimen/twenty_dp"
            android:background="@drawable/login_btn_selector"
            android:padding="@dimen/fifteen_dp"
            android:text="LOGIN"
            android:textColor="@android:color/white"
            android:textSize="20sp" />
        <View
            android:layout_width="match_parent"
            android:layout_height="@dimen/one_dp"
            android:alpha="0.8"
            android:background="@drawable/line_selector" />
        <TextView
            android:id="@+id/haveAccount_txt"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_gravity="center_horizontal"
            android:layout_marginTop="@dimen/thirty_dp"
            android:gravity="center"
            android:text="@string/haveaccount_text"
            android:textColor="@color/theme_grey"
            android:textSize="22sp" />
        <Button
            android:id="@+id/signUp_btn"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_marginTop="@dimen/thirty_dp"
            android:background="@drawable/signup_btn_selector"
            android:padding="@dimen/fifteen_dp"
            android:text="SIGNUP"
            android:textColor="@android:color/white"
            android:textSize="20sp" />
        <View
            android:layout_width="match_parent"
            android:layout_height="@dimen/one_dp"
            android:alpha="0.8"
            android:background="@drawable/line_selector" />
    </LinearLayout>
</ScrollView>