<?xml version="1.0" encoding="utf-8"?>
<ScrollView xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:background="@color/white_color"
    android:scrollbars="none">
    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:orientation="vertical"
        android:padding="@dimen/twenty_dp"
        android:background="@color/white_color"
        android:weightSum="6">
        <TextView
            android:id="@+id/questionHeading"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:text="@string/complete_form"
            android:textSize="16sp"
            android:layout_weight="1" />
        <LinearLayout
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_marginTop="@dimen/twelve_dp"
            android:background="@drawable/regtextbox"
            android:orientation="vertical"
            android:layout_weight="1">
            <EditText
                android:id="@+id/questionTitle_et"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:background="@null"
                android:hint="@string/qsn_title_text"
                android:padding="@dimen/twelve_dp"
                android:singleLine="true"
                android:textSize="14sp" />
            <View
                android:layout_width="match_parent"
                android:layout_height="@dimen/zero_point_nine_dp"
                android:background="@color/loginView_BorderColor" />
            <EditText
                android:id="@+id/answer_et"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:background="@null"
                android:gravity="top"
                android:hint="@string/ans_text"
                android:inputType="textMultiLine"
                android:lines="5"
                android:padding="@dimen/twelve_dp"
                android:textSize="14sp" />
        </LinearLayout>
        <LinearLayout
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_marginTop="@dimen/twelve_dp"
            android:background="@drawable/regtextbox"
            android:orientation="vertical"
            android:layout_weight="1">
            <EditText
                android:id="@+id/questionUserName_et"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:background="@null"
                android:hint="@string/name_in_qns_text"
                android:padding="@dimen/twelve_dp"
                android:singleLine="true"
                android:textSize="14sp" />
            <View
                android:layout_width="match_parent"
                android:layout_height="@dimen/zero_point_nine_dp"
                android:background="@color/loginView_BorderColor" />
            <EditText
                android:id="@+id/questionEmail_et"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:background="@null"
                android:drawableRight="@drawable/email_small"
                android:hint="@string/qns_email_text"
                android:padding="@dimen/twelve_dp"
                android:singleLine="true"
                android:textSize="14sp" />
        </LinearLayout>
        <TextView
            android:id="@+id/warning"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_marginTop="@dimen/twelve_dp"
            android:text="@string/warning_text"
            android:layout_weight="1" />
        <TextView
            android:id="@+id/safety"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_marginTop="@dimen/twelve_dp"
            android:text="@string/safety_text"
            android:layout_weight="1" />
        <Button
            android:id="@+id/submitQues"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_marginTop="@dimen/twelve_dp"
            android:padding="@dimen/fifteen_dp"
            android:text="@string/submit_qns_text"
            android:textSize="16sp"
            android:background="@drawable/signup_btn_selector"
            android:textColor="@color/white_color"
            android:layout_weight="1" />
        <View
            android:layout_width="match_parent"
            android:layout_height="@dimen/one_dp"
            android:alpha="0.8"
            android:background="@drawable/line_selector" />
    </LinearLayout>
</ScrollView>