<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:background="@color/white_color">
    <RelativeLayout
        android:id="@+id/wizardStatus1"
        android:layout_width="match_parent"
        android:layout_height="50dp"
        android:background="@color/status_bar_background"
        android:padding="10dp">
        <TextView
            android:id="@+id/wizardName"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_alignParentLeft="true"
            android:layout_centerVertical="true"
            android:text="Eighth wizard"
            android:textColor="#404040" />
        <TextView
            android:id="@+id/wizardNumbr"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_alignParentRight="true"
            android:background="@drawable/wizard_number_selector"
            android:paddingBottom="5dp"
            android:paddingLeft="25dp"
            android:paddingRight="25dp"
            android:paddingTop="5dp"
            android:text="8 of 15"
            android:textSize="16sp"
            android:textColor="#526997" />
    </RelativeLayout>
    <ScrollView
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:layout_below="@+id/wizardStatus1"
        android:paddingLeft="20dp"
        android:paddingRight="20dp"
        android:scrollbars="none">
        <RelativeLayout
            android:layout_width="match_parent"
            android:layout_height="match_parent">
            <RelativeLayout
                android:id="@+id/layoutOne"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:layout_marginTop="20dp"
                android:background="@drawable/regtextbox"
                android:padding="5dp"
                android:visibility="gone">
                <TextView
                    android:id="@+id/questionFive"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:layout_centerHorizontal="true"
                    android:layout_marginTop="10dp"
                    android:gravity="center"
                    android:text="@string/question_yes_five"
                    android:textSize="14sp"
                    android:textColor="@android:color/black" />
                <LinearLayout
                    android:layout_height="wrap_content"
                    android:layout_width="100dp"
                    android:layout_below="@id/questionFive"
                    android:layout_marginTop="20dp"
                    android:layout_marginBottom="10dp"
                    android:orientation="horizontal"
                    android:weightSum="2"
                    android:layout_centerHorizontal="true"
                    android:background="@drawable/lang_view_selector">
                    <Button
                        android:id="@+id/wizTwoQuesFive_yes"
                        android:layout_width="0dp"
                        android:layout_height="match_parent"
                        android:background="@null"
                        android:text="@string/yes_text"
                        android:layout_weight="1"
                        android:textColor="@color/rect_color"
                        android:padding="5dp" />
                    <View
                        android:layout_height="match_parent"
                        android:layout_width="0.9dp"
                        android:background="@color/rect_color" />
                    <Button
                        android:id="@+id/wizTwoQuesFive_no"
                        android:layout_width="0dp"
                        android:layout_height="match_parent"
                        android:text="@string/no_text"
                        android:layout_weight="1"
                        android:background="@null"
                        android:textColor="@color/rect_color"
                        android:padding="5dp" />
                </LinearLayout>
            </RelativeLayout>
            <RelativeLayout
                android:id="@+id/layoutTwo"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:layout_marginTop="20dp"
                android:background="@drawable/regtextbox"
                android:padding="5dp"
                android:layout_below="@+id/layoutOne"
                android:visibility="gone">
                <TextView
                    android:id="@+id/questionFour"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:layout_centerHorizontal="true"
                    android:layout_marginTop="10dp"
                    android:gravity="center"
                    android:text="@string/question_yes_two"
                    android:textSize="14sp"
                    android:textColor="@android:color/black" />
                <LinearLayout
                    android:layout_height="wrap_content"
                    android:layout_width="100dp"
                    android:layout_below="@id/questionFour"
                    android:layout_marginTop="20dp"
                    android:layout_marginBottom="10dp"
                    android:orientation="horizontal"
                    android:weightSum="2"
                    android:layout_centerHorizontal="true"
                    android:background="@drawable/lang_view_selector">
                    <Button
                        android:id="@+id/wizTwoQuesFour_yes"
                        android:layout_width="0dp"
                        android:layout_height="match_parent"
                        android:background="@null"
                        android:text="@string/yes_text"
                        android:layout_weight="1"
                        android:textColor="@color/rect_color"
                        android:padding="5dp" />
                    <View
                        android:layout_height="match_parent"
                        android:layout_width="0.9dp"
                        android:background="@color/rect_color" />
                    <Button
                        android:id="@+id/wizTwoQuesFour_no"
                        android:layout_width="0dp"
                        android:layout_height="match_parent"
                        android:text="@string/no_text"
                        android:layout_weight="1"
                        android:background="@null"
                        android:textColor="@color/rect_color"
                        android:padding="5dp" />
                </LinearLayout>
            </RelativeLayout>
            <RelativeLayout
                android:id="@+id/layoutThree"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:layout_marginTop="20dp"
                android:background="@drawable/regtextbox"
                android:padding="5dp"
                android:layout_below="@+id/layoutTwo"
                android:visibility="gone">
                <TextView
                    android:id="@+id/questionThree"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:layout_centerHorizontal="true"
                    android:layout_marginTop="10dp"
                    android:gravity="center"
                    android:text="@string/question_yes_three"
                    android:textSize="14sp"
                    android:textColor="@android:color/black" />
                <LinearLayout
                    android:layout_height="wrap_content"
                    android:layout_width="100dp"
                    android:layout_below="@id/questionThree"
                    android:layout_marginTop="20dp"
                    android:layout_marginBottom="10dp"
                    android:orientation="horizontal"
                    android:weightSum="2"
                    android:layout_centerHorizontal="true"
                    android:background="@drawable/lang_view_selector">
                    <Button
                        android:id="@+id/wizTwoQuesThree_yes"
                        android:layout_width="0dp"
                        android:layout_height="match_parent"
                        android:background="@null"
                        android:text="@string/yes_text"
                        android:layout_weight="1"
                        android:textColor="@color/rect_color"
                        android:padding="5dp" />
                    <View
                        android:layout_height="match_parent"
                        android:layout_width="0.9dp"
                        android:background="@color/rect_color" />
                    <Button
                        android:id="@+id/wizTwoQuesThree_no"
                        android:layout_width="0dp"
                        android:layout_height="match_parent"
                        android:text="@string/no_text"
                        android:layout_weight="1"
                        android:background="@null"
                        android:textColor="@color/rect_color"
                        android:padding="5dp" />
                </LinearLayout>
            </RelativeLayout>
            <RelativeLayout
                android:id="@+id/layoutFour"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:layout_marginTop="20dp"
                android:background="@drawable/regtextbox"
                android:padding="5dp"
                android:layout_below="@+id/layoutThree"
                android:visibility="gone">
                <TextView
                    android:id="@+id/questionTwo"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:layout_centerHorizontal="true"
                    android:layout_marginTop="10dp"
                    android:gravity="center"
                    android:text="@string/question_yes_two"
                    android:textSize="14sp"
                    android:textColor="@android:color/black" />
                <LinearLayout
                    android:layout_height="wrap_content"
                    android:layout_width="100dp"
                    android:layout_below="@id/questionTwo"
                    android:layout_marginTop="20dp"
                    android:layout_marginBottom="10dp"
                    android:orientation="horizontal"
                    android:weightSum="2"
                    android:layout_centerHorizontal="true"
                    android:background="@drawable/lang_view_selector">
                    <Button
                        android:id="@+id/wizTwoQuesTwo_yes"
                        android:layout_width="0dp"
                        android:layout_height="match_parent"
                        android:background="@null"
                        android:text="@string/yes_text"
                        android:layout_weight="1"
                        android:textColor="@color/rect_color"
                        android:padding="5dp" />
                    <View
                        android:layout_height="match_parent"
                        android:layout_width="0.9dp"
                        android:background="@color/rect_color" />
                    <Button
                        android:id="@+id/wizTwoQuesTwo_no"
                        android:layout_width="0dp"
                        android:layout_height="match_parent"
                        android:text="@string/no_text"
                        android:layout_weight="1"
                        android:background="@null"
                        android:textColor="@color/rect_color"
                        android:padding="5dp" />
                </LinearLayout>
            </RelativeLayout>
            <RelativeLayout
                android:id="@+id/layoutFive"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:layout_marginTop="20dp"
                android:background="@drawable/regtextbox"
                android:padding="10dp"
                android:layout_below="@+id/layoutFour">
                <TextView
                    android:id="@+id/questionOne"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:layout_centerHorizontal="true"
                    android:layout_marginTop="10dp"
                    android:gravity="center"
                    android:text="@string/question_yes_one"
                    android:textSize="14sp"
                    android:textColor="@android:color/black" />
                <LinearLayout
                    android:layout_height="wrap_content"
                    android:layout_width="100dp"
                    android:layout_below="@id/questionOne"
                    android:layout_marginTop="20dp"
                    android:layout_marginBottom="10dp"
                    android:orientation="horizontal"
                    android:weightSum="2"
                    android:layout_centerHorizontal="true"
                    android:background="@drawable/lang_view_selector">
                    <Button
                        android:id="@+id/wizTwoQuesOne_yes"
                        android:layout_width="0dp"
                        android:layout_height="match_parent"
                        android:background="@null"
                        android:text="@string/yes_text"
                        android:layout_weight="1"
                        android:textColor="@color/rect_color"
                        android:padding="5dp" />
                    <View
                        android:layout_height="match_parent"
                        android:layout_width="0.9dp"
                        android:background="@color/rect_color" />
                    <Button
                        android:id="@+id/wizTwoQuesOne_no"
                        android:layout_width="0dp"
                        android:layout_height="match_parent"
                        android:text="@string/no_text"
                        android:layout_weight="1"
                        android:background="@null"
                        android:textColor="@color/rect_color"
                        android:padding="5dp" />
                </LinearLayout>
            </RelativeLayout>
        </RelativeLayout>
    </ScrollView>
</RelativeLayout>