<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:orientation="vertical"
    android:padding="@dimen/twenty_dp"
    android:background="@color/white_color">
    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:orientation="vertical"
        android:background="@drawable/regtextbox"
        android:weightSum="2">
        <EditText
            android:id="@+id/firstName_et"
            android:layout_width="match_parent"
            android:layout_height="@dimen/zero_dp"
            android:background="@null"
            android:padding="@dimen/ten_dp"
            android:singleLine="true"
            android:textSize="14sp"
            android:hint="@string/firstname_text"
            android:layout_weight="1"
            android:textColor="@color/regGrey_color"
            android:drawableRight="@drawable/user_small" />
        <View
            android:layout_width="match_parent"
            android:layout_height="0.9dp"
            android:background="@color/loginView_BorderColor" />
        <EditText
            android:id="@+id/lastName_et"
            android:layout_width="match_parent"
            android:layout_height="@dimen/zero_dp"
            android:background="@null"
            android:singleLine="true"
            android:padding="@dimen/ten_dp"
            android:textSize="14sp"
            android:textColor="@color/regGrey_color"
            android:hint="@string/lastname_text"
            android:layout_weight="1" />
    </LinearLayout>
    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:orientation="vertical"
        android:background="@drawable/regtextbox"
        android:weightSum="2"
        android:layout_marginTop="@dimen/twenty_two_dp">
        <EditText
            android:id="@+id/mailAddress_et"
            android:layout_width="match_parent"
            android:layout_height="@dimen/zero_dp"
            android:background="@null"
            android:padding="@dimen/ten_dp"
            android:textSize="14sp"
            android:singleLine="true"
            android:hint="@string/mailaddrs_text"
            android:layout_weight="1"
            android:textColor="@color/regGrey_color"
            android:drawableRight="@drawable/email_small" />
        <View
            android:layout_width="match_parent"
            android:layout_height="0.9dp"
            android:background="@color/loginView_BorderColor" />
        <EditText
            android:id="@+id/reTypeMailAddrs_et"
            android:layout_width="match_parent"
            android:layout_height="@dimen/zero_dp"
            android:background="@null"
            android:padding="@dimen/ten_dp"
            android:textSize="14sp"
            android:singleLine="true"
            android:textColor="@color/regGrey_color"
            android:hint="@string/retypemailaddrs_text"
            android:layout_weight="1" />
    </LinearLayout>
    <EditText
        android:id="@+id/password_et"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:background="@drawable/regtextbox"
        android:padding="@dimen/ten_dp"
        android:textSize="14sp"
        android:singleLine="true"
        android:hint="@string/password_text"
        android:textColor="@color/regGrey_color"
        android:drawableRight="@drawable/password_small"
        android:layout_marginTop="@dimen/twenty_two_dp" />
    <RelativeLayout
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_marginTop="@dimen/twenty_two_dp">
        <CheckBox
            android:id="@+id/checkBox"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_alignParentLeft="true"
            android:button="@drawable/checkbox_selector"
            android:layout_centerVertical="true" />
        <TextView
            android:id="@+id/accept"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_toRightOf="@+id/checkBox"
            android:layout_centerVertical="true"
            android:text="@string/accept_text"
            android:layout_marginLeft="@dimen/twenty_dp"
            android:textColor="@color/regGrey_color"
            android:textSize="14sp" />
        <TextView
            android:id="@+id/terms"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_toRightOf="@+id/accept"
            android:layout_centerVertical="true"
            android:text="@string/terms_text"
            android:layout_marginLeft="@dimen/five_dp"
            android:textSize="14sp"
            android:textColor="@color/register_btn_color" />
    </RelativeLayout>
    <Button
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_marginTop="@dimen/twenty_two_dp"
        android:padding="@dimen/eleven_dp"
        android:text="@string/register_text"
        android:textSize="16sp"
        android:background="@drawable/signup_btn_selector"
        android:textColor="@android:color/white" />
    <View
        android:layout_width="match_parent"
        android:layout_height="@dimen/one_dp"
        android:alpha="0.8"
        android:background="@drawable/line_selector" />
</LinearLayout>